.mainpage {
    background-color: rgb(161, 209, 224);
    font-style: italic;
}
body{
    margin: 0 auto;
}
.header{
    background-color: rgba(160, 21, 21, 0.836);
    font-family: serif;
    color: white;
    margin: 0 auto;
    padding: 1em;   
}
.flex{ 
       display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:space-between; 
}
.nav-logo{
    color: white;
    font-weight: bold;
    font-family:fantasy;
    font-size: 50px;
    margin-right:60px;
    align-items: flex-start;
}
.nav-search{
  background-color: #fafafa;
  float: left;
  display: block;
  color: black;
  text-align:end;
  padding: 10px 14px;
  margin-right: 200px;
  text-decoration: none;
  font-size: 17px;
  /* align-items: flex-end; */
}
.cart{
    color:white ;
}
.V-cam > img{
 margin: 0 auto;
 height: 150px;
 width: 300px;
 margin-top: 8px;
}
.camera{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
 .V-cam {
     text-align: center;

 }
.camera .V-cam {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:space-between;
    margin: 10px auto;
    border-bottom: 1px white solid;
}
.V-cam .icons {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}
.description {
    margin: 30px;
   text-align: center;
   align-self: center;
}
.options{
    display: flex;
    flex: row;
    align-items: center;
    justify-content:space-around;
}
.footer {
    background-color: rgba(160, 21, 21, 0.836);
    height: 230px;
}
.footer a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    color: white;
    margin-left: 30px;


}